"UI/Actor/**" filter=lfs diff=lfs merge=lfs -text
"UI/Background/**" filter=lfs diff=lfs merge=lfs -text
"UI/Banner/**" filter=lfs diff=lfs merge=lfs -text
"UI/BingoMission/**" filter=lfs diff=lfs merge=lfs -text
"UI/BoxScout/**" filter=lfs diff=lfs merge=lfs -text
"UI/ChampionBattle/**" filter=lfs diff=lfs merge=lfs -text
"UI/Common/**" filter=lfs diff=lfs merge=lfs -text
"UI/Dialog/**" filter=lfs diff=lfs merge=lfs -text
"UI/Effects/**" filter=lfs diff=lfs merge=lfs -text
"UI/Emblem/**" filter=lfs diff=lfs merge=lfs -text
"UI/EmblemRegion/**" filter=lfs diff=lfs merge=lfs -text
"UI/Event/**" filter=lfs diff=lfs merge=lfs -text
"UI/EventStill/**" filter=lfs diff=lfs merge=lfs -text
"UI/GymSpot/**" filter=lfs diff=lfs merge=lfs -text
"UI/HomeInfo/**" filter=lfs diff=lfs merge=lfs -text
"UI/honor/**" filter=lfs diff=lfs merge=lfs -text
"UI/Item/**" filter=lfs diff=lfs merge=lfs -text
"UI/ItemPack/**" filter=lfs diff=lfs merge=lfs -text
"UI/LoadingTips/**" filter=lfs diff=lfs merge=lfs -text
"UI/LoginBonus/**" filter=lfs diff=lfs merge=lfs -text
"UI/Porygon/**" filter=lfs diff=lfs merge=lfs -text
"UI/ProfileBg/**" filter=lfs diff=lfs merge=lfs -text
"UI/QuestList/**" filter=lfs diff=lfs merge=lfs -text
"UI/Salon/**" filter=lfs diff=lfs merge=lfs -text
"UI/SalonSpot/**" filter=lfs diff=lfs merge=lfs -text
"UI/Scout/**" filter=lfs diff=lfs merge=lfs -text
"UI/Shop/**" filter=lfs diff=lfs merge=lfs -text
"UI/tutorial/**" filter=lfs diff=lfs merge=lfs -text
"UI/Battle/icon_big_01.png" filter=lfs diff=lfs merge=lfs -text
"UI/Battle/icon_big_02.png" filter=lfs diff=lfs merge=lfs -text
"UI/Battle/icon_big_03.png" filter=lfs diff=lfs merge=lfs -text
"UI/Battle/icon_big_04.png" filter=lfs diff=lfs merge=lfs -text
"UI/Battle/icon_big_05.png" filter=lfs diff=lfs merge=lfs -text
"UI/Battle/icon_big_06.png" filter=lfs diff=lfs merge=lfs -text
"UI/Battle/icon_big_07.png" filter=lfs diff=lfs merge=lfs -text
"UI/Battle/icon_big_08.png" filter=lfs diff=lfs merge=lfs -text
"UI/Battle/icon_big_09.png" filter=lfs diff=lfs merge=lfs -text
"UI/Battle/icon_big_10.png" filter=lfs diff=lfs merge=lfs -text
"UI/Battle/icon_big_11.png" filter=lfs diff=lfs merge=lfs -text
"UI/Battle/icon_big_12.png" filter=lfs diff=lfs merge=lfs -text
"UI/Battle/icon_big_13.png" filter=lfs diff=lfs merge=lfs -text
"UI/Battle/icon_big_14.png" filter=lfs diff=lfs merge=lfs -text
"UI/Battle/icon_big_15.png" filter=lfs diff=lfs merge=lfs -text
"UI/Battle/icon_big_16.png" filter=lfs diff=lfs merge=lfs -text
"UI/Battle/icon_big_17.png" filter=lfs diff=lfs merge=lfs -text
"UI/Battle/icon_big_18.png" filter=lfs diff=lfs merge=lfs -text
"UI/Battle/icon_big_99.png" filter=lfs diff=lfs merge=lfs -text
"UI/Battle/image/terastal_base_gauge.png" filter=lfs diff=lfs merge=lfs -text
"UI/Battle/image/terastal_reserve_eff.png" filter=lfs diff=lfs merge=lfs -text
"UI/Cafe/Common/image/academy_cell_line_eff.png" filter=lfs diff=lfs merge=lfs -text
"UI/Gym/Common/image/gym_detail_eff_circle.png" filter=lfs diff=lfs merge=lfs -text
"UI/Gym/Common/image/gym_gradation.png" filter=lfs diff=lfs merge=lfs -text
